.textcenter {
  text-align: center;
}
.divcenter {
  margin: auto;
  width: 40%;
  padding: 10px;
}
.logo {
  margin: auto;
  width: 30%;
  height:30;
}
.textright{
  text-align: right;
}
